name = "appcenter-payments-deb-dev"
type = "webpack"

account_id = "15f2ecfa401ced79d6e9c732fd8b0cc2"
workers_dev = true

compatibility_date = "2021-12-10"

webpack_config = "webpack.config.js"

kv_namespaces = [
  { binding = "STRIPE_ACCOUNT_IDS", id = "18fa723fb2424451ba3b44a509ae7e0b", preview_id = "18fa723fb2424451ba3b44a509ae7e0b" }
]

[vars]
NODE_ENV = "development"
STRIPE_SECRET_KEY = "sk_test_abc1234"
MAILGUN_USERNAME = "test"
MAILGUN_API_KEY = "test"

[env.production]
name = "appcenter-payments-deb"

zone_id = "db8481f61b9954cace2b4e59e4235042"
route = "developer.elementary.io/api/payment/*"

kv_namespaces = [
  { binding = "STRIPE_ACCOUNT_IDS", id = "18fa723fb2424451ba3b44a509ae7e0b", preview_id = "18fa723fb2424451ba3b44a509ae7e0b" }
]

[env.production.vars]
NODE_ENV = "production"
